body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  header {
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  section {
    margin-bottom: 20px;
    width: calc(33% - 20px);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .badge-section,
  .redis-section,
  .stack-section {
    text-align: center;
  }
  
  .github-section p {
    margin-bottom: 10px;
  }
  
  .github-section a {
    text-decoration: none;
    color: blue;
  }
  
  footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 20px;
  }
  